.loginContainer, .signupContainer {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/352/709/desktop-wallpaper-night-aesthetic-laptop-city-aesthetic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loginSignupForm {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  }
  
  .loginSignupForm h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }
  
  input {
    color: #ffffff;
    outline: none;
    border: 0px;
    height: 50px;
    width: 100%;
    background-color: #ffffff12;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 300;
  }
  
  input:focus, textarea:focus{
    box-shadow: 0 0 10px .2rem rgba(255, 0, 0, 0.161);
  }
  
  ::placeholder {
    color: #e5e5e5;
  }
  
  button {
    width: 100%;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px !important;
    cursor: pointer;
  }
  
  .social {
    justify-content: center;
    align-items: center;
  }
  
  .social p {
    font-size: 15px;
  }
  
  .social a {
    color: #cf0a0a;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    transition: all .5s;
  }
  
  @media screen and (max-width: 768px) {
    .loginSignupForm {
      padding: 30px 20px;
    }
    label, input {
      font-size: 14px;
    }
    button {
      font-size: 16px;
    }
  }